/* Page setup and general classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(237, 237, 240);
}

.btn {
  background-color: rgb(220, 224, 233);
  font-family: 'Times New Roman', Times, serif;
}

.svg-white {
  filter: invert(98%) sepia(10%) saturate(478%) hue-rotate(169deg)
    brightness(99%) contrast(92%);
  height: 100%;
  width: auto;
}

.bold {
  font-weight: bolder;
}

.container {
  width: 100%;

}

/* Navbar classes */

.navbar {
  background-color: rgb(68, 99, 139);
  height: 6%;
  width: 100%;
}

.burger {
  margin-right: 25px;
}

.search {
  height: 60%;
}

/* Main area classes */

.grid-div {
  height: 94%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.sidebar {
  height: 100%;
  width:100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.5s;
  background-color: rgb(220, 224, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarContent {
  height: 95%;
  width: 90%;
  border: 1px solid rgb(68, 99, 139);
}

.sidebarShow {

}

/* Story tiles styling */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  overflow-y: scroll;
  gap: 10px;
  padding: 10px;
}

.newsCard {
  height: auto;
  width: 350px;
}